<% include ../partials/header %>

<h1>Register</h1>

<form method="POST" action="/polls">
	<input type="text" name="name" placeholder="poll name">
	<input type="text" name="options[0]" placeholder="option 1">
	<input type="text" name="options[1]" placeholder="option 2">
	<button>Submit</button>
</form>

<% include ../partials/footer %>