<h1>Register</h1>

<form method="POST" action="/polls">
	<input type="text" name="pollname" placeholder="pollname">
	<input type="password" name="option1" placeholder="option1">
	<input type="password" name="option2" placeholder="option2">
	<button>Submit</button>
</form>